.card{
    /* width: 40vw; */
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s;
    /* background-color: #fff; */
}

.card>img{
    transform: scale(1.5);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card:hover{
    transform: scale(1.05);
}


.description{
    display: -webkit-box;
    line-clamp:3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn{
    background-color: var(--primary);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover{
    background-color: var(--secondary);
}

@media (width<1050px) {
    .main{
        margin-left:0 !important;
        margin-right:0 !important;
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .card{
        width: 45vw;
    }
}

@media (width<800px) {
    .card{
        width: 90vw;
    }
}

@media (width<500px) {
    .card>img{
        height: 130px !important;
    }
    .card{
        font-size: 10px;
        gap: 40px !important;
    }
}

@media (width<300px) {
    .card>img{
        height: 130px !important;
    }
    .card{
        font-size: 7px;
        gap: 30px !important;
    }
}